<form method="post">
    First Name: <input name="first_name" required><br>
    Middle Name: <input name="middle_name"><br>
    Last Name: <input name="last_name" required><br>
    DOB: <input name="dob" type="date" required><br>
    Address: <input name="address" required><br>
    Sex: <select name="sex">
        <option value="">--Optional--</option>
        <option>Male</option>
        <option>Female</option>
        <option>Other</option>
    </select><br>
    <button type="submit">Add</button>
</form>